<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table>

  {% for entry in entries %}

  <tr style="background-color: {{entry.color}};">
    <td>{{entry.date}}</td>
    <td>{{entry.days}}</td>

  </tr>
    
  {% endfor %}
  </table>
  
</body>
</html>
