<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schiffe Versenken</title>
</head>
<body>

<table>
    <tr>
        <th>Name</th>
        <th>Computer</th>
        <th>Auswählen</th>
    </tr>
   {% for player in players %}
<tr>
    <td>{{ player.name }}</td>
    <td>{{ player.computer }}</td>
    <td><a href="{% url 'setup_game' player.id 0 %}">Auswählen</a></td>
</tr>   
   {% endfor %}
</table>
<form action="{% url 'choose_player' %}" method="post">
{% csrf_token %}
<input type="text" name="name" id="name">
<input type="checkbox" name="computer" id="computer">
<input type="submit" value="Neuer Spieler" name='add'>
</form>
</body>
</html>