


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schiffe Versenken (Setup)</title>
</head>
<body>
    Setup, Player {{ player1_id }}
    <table>
    {% for row in field_list %}
        <tr>
            {% for col in row %}
                <td><a href="{% url 'setup_game' player1_id game_id %}?row={{forloop.parentloop.counter0}}&col={{forloop.counter0}}">{{ col }}</a></td> 
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <ul>
    {% for ship in ships %}
    <li>{{ ship }}</li>
    {% endfor %}
    </ul>
    <a href="{% url 'setup_game' player1_id game_id %}?check=True">Prüfen</a>
    <p>{{ message }}</p>
</body>
</html>