<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="">

  <h1>Zahlenraten</h1>
  <form action="{% url 'game' %}" method="post">
    <input type="text" name="geraten" id="geraten">
    {% csrf_token %}
    <input type="submit" value="Abschicken">
  </form>
 
  <p>
    {% if error %}
      {{error}}
    {% else %}
      {{feedback}}
    {% endif %}
  </p>
  <p>
    {{versuche}}
  </p>

</body>
</html>
