{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lernkartei</title>
  <script src="{% static 'lernen/js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'lernen/js/lernen.js' %}"></script>
</head>
<body>
 
Hallo.

<div id="suggestions">

</div>

<form action="" method="post" autocomplete="off">
{% csrf_token %}

{{ form.as_p }}
<input type="submit" value="Eintragen">

</form>

</body>
</html>
